language: rust
rust:
  - stable
cache: cargo
before_script:
  - rustup component add clippy
matrix:
  include:
    - os: osx
      script:
        - cargo check --verbose --features metal
        - cargo test --verbose --features metal
    - os: windows
      before_install:
        - choco install -y ninja python cmake
      env: PATH=/c/Python37:/c/Python37/Scripts:$PATH
      script:
        - cargo check --verbose --features vulkan
        - cargo test --verbose --features vulkan
    - os: linux
      script:
        - cargo check --verbose --features vulkan
        - cargo test --verbose --features vulkan
  allow_failures:
    - os: linux
script:
  - cargo fmt -- --check
  - cargo clippy -- -D warnings