<?xml version="1.0" encoding="utf-8"?>

<!--

This is the Wix (https://wixtoolset.org) script for creating the Windows installer.
The installer it defines does the following (see the <Feature> tag):

- Copies the executable into the installdir (inside 64 bit Program Files directory)
- Copies the EULA into the installdir
- Creates a desktop shortcut for the application (not user-customizable at the moment)
- Creates a start menu directory with the following shortcuts:
  - The application
  - The EULA
  - Log directory
- Pre-creates the application directory in localappdata and the Logs directory inside it.
  This wouldn't strictly be neccessary, but the shortcut to the Logs directory would be
  invalid otherwise for some reason.
- Installs the Visual C++ runtime redistributable (vcredist) required by MSVC
  targetting rust binaries on Windows. The redistributable is included in the installer
  in the form of a Merge Module (.msm).

The application shortcuts and the Add/Remove Programs entry use icons/64x64.ico.
FIXME: Make this also true for the executable file, but that doesn't seem so trivial using just Wix.

The installer also displays the EULA as one step during the installation.

Wix and Windows Installer resources
===================================

https://wixtoolset.org/documentation/manual/v3/
https://www.firegiant.com/wix/tutorial/
http://alekdavis.blogspot.com/2010/10/wix-how-tos-and-missing-links.html

https://docs.microsoft.com/en-us/windows/win32/msi/property-reference?redirectedfrom=MSDN#system_folder_properties

LANGAUAGE CODES AND CODEPAGES
=============================

For en-US, use:
Language="1033"
Codepage="1252"

Source:
https://docs.microsoft.com/en-us/windows/win32/msi/localizing-the-error-and-actiontext-tables?redirectedfrom=MSDN

GUID
====

To correctly install and uninstall things, the installed software and various installed
components need to be identified by GUIDs.

- Id of the software (Product.Id):      E427BFF3-9E5C-482A-B250-B3C2CB0A13D9
- Upgrade code (Product.UpgradeCode):   D2A7DBB6-3A32-4F81-8EA4-1C81E37907C7
- Id of the installer (Package.Id):     * (autogenerated by wix each time it creates the installer)
- Any other GUID:                       Always manually generate a new GUID (e.g. online)

-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="H.U.R.B.A.N. selector"
           Manufacturer="Subdigital s.r.o."
           Id="E427BFF3-9E5C-482A-B250-B3C2CB0A13D9"
           UpgradeCode="D2A7DBB6-3A32-4F81-8EA4-1C81E37907C7"
           Language="1033"
           Codepage="1252"
           Version="0.1.0">

    <Package Id="*"
             Keywords="Installer"
             Description="H.U.R.B.A.N. selector 0.1.0 Installer"
             Comments="Experimental parametric modelling software by Subdigital"
             Manufacturer="Subdigital s.r.o."
             Platform="x64"
             InstallerVersion="301"
             Languages="1033"
             Compressed="yes"
             SummaryCodepage="1252" />

    <Media Id="1" Cabinet="hurban_selector.cab" EmbedCab="yes" DiskPrompt="CD-ROM #1" />
    <Property Id="DiskPrompt" Value="H.U.R.B.A.N. selector Installation [1]" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder" Name="Program Files">
        <Directory Id="INSTALLDIR" Name="H.U.R.B.A.N. selector">
          <Component Id="ID_Component_Executable"
                     Guid="BA3F593F-9B75-42EA-91A6-2E64E24B639C"
                     Win64="yes">
            <File Id="ID_File_EXE"
                  Name="hurban_selector.exe"
                  DiskId="1"
                  Source="target/release/hurban_selector.exe"
                  KeyPath="yes">
              <Shortcut Id="ID_Shortcut_Startmenu"
                        Directory="ID_Directory_ProgramMenu"
                        Name="H.U.R.B.A.N. selector"
                        WorkingDirectory="INSTALLDIR"
                        Icon="hurban_selector.ico"
                        IconIndex="0"
                        Advertise="yes" />

              <Shortcut Id="ID_Shortcut_Desktop"
                        Directory="DesktopFolder"
                        Name="H.U.R.B.A.N. selector"
                        WorkingDirectory="INSTALLDIR"
                        Icon="hurban_selector.ico"
                        IconIndex="0"
                        Advertise="yes" />
            </File>
          </Component>

          <Component Id="ID_Component_EULA"
                     Guid="E5A58FFF-7F99-41E6-8501-001EE21CC930"
                     Win64="yes">
            <File Id="ID_File_EULA"
                  Name="eula.txt"
                  DiskId="1"
                  Source="eula.txt"
                  KeyPath="yes">
              <Shortcut Id="ID_Shortcut_EULA"
                        Directory="ID_Directory_ProgramMenu"
                        Name="EULA"
                        Advertise="yes" />
            </File>
          </Component>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ID_Directory_ProgramMenu" Name="H.U.R.B.A.N. selector">
          <Component Id="ID_Component_ProgramMenu"
                     Guid="295E7214-BC12-4902-A63D-8D48296EA02C"
                     Win64="yes">
            <!--
            Remove the startmenu directory on uninstall if empty. It seems that the shortcuts
            contained there are already removed by the time this runs, or shortcuts don't block
            directory deletion.
            -->
            <RemoveFolder Id="ID_Directory_ProgramMenu" On="uninstall" />
            <RegistryValue Root="HKCU"
                           Key="Software\H.U.R.B.A.N. selector"
                           Type="string"
                           Value=""
                           KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="LocalAppDataFolder" Name="Local App Data">
        <Directory Id="ID_Directory_LocalAppData" Name="H.U.R.B.A.N. selector">
          <Component Id="ID_Component_LocalAppData"
                     Guid="BEE7BE36-6128-41E5-A277-EB4D2D4D8ED3"
                     Win64="yes">
            <!--
            Pre-create entry in localappdata directory so that any shortcuts pointing
            to it are valid
            -->
            <CreateFolder />
            <!-- Remove localappdata directory entry on uninstall if empty -->
            <RemoveFolder Id="ID_Directory_LocalAppData" On="uninstall" />

            <RegistryValue Root="HKCU"
                           Key="Software\H.U.R.B.A.N. selector"
                           Type="string"
                           Value=""
                           KeyPath="yes" />
          </Component>

          <Directory Id="ID_Directory_Logs" Name="Logs">
            <Component Id="ID_Component_Logs"
                       Guid="478475F5-0D02-4E03-AE03-A09ABAA9316D"
                       Win64="yes">
              <!-- Pre-create the Logs directory so that any shortcuts pointing to it are valid -->
              <CreateFolder />
              <!-- Remove the Logs directory on uninstall if empty -->
              <RemoveFolder Id="ID_Directory_Logs" On="uninstall" />

              <RegistryValue Root="HKCU"
                             Key="Software\H.U.R.B.A.N. selector"
                             Type="string"
                             Value=""
                             KeyPath="yes" />

              <Shortcut Id="ID_Shortcut_Logs"
                        Directory="ID_Directory_ProgramMenu"
                        Name="Logs"
                        Advertise="no" />
            </Component>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <DirectoryRef Id="TARGETDIR">
      <Merge Id="ID_Merge_VCRedist"
             SourceFile="installer_windows/vcredist_merge_modules/Microsoft_VC142_CRT_x64.msm"
             DiskId="1"
             Language="0"/>
    </DirectoryRef>

    <Feature Id="ID_Feature_Complete" Level="1">
      <!-- Copy the main executable to installdir -->
      <ComponentRef Id="ID_Component_Executable" />
      <!-- Copy the EULA to installdir -->
      <ComponentRef Id="ID_Component_EULA" />
      <!-- Create entries in the start menu containing all the shortcuts -->
      <ComponentRef Id="ID_Component_ProgramMenu" />
      <!-- Create the entry in localappdata -->
      <ComponentRef Id="ID_Component_LocalAppData" />
      <!-- Create the logs directory in localappdata -->
      <ComponentRef Id="ID_Component_Logs" />
      <!-- Install vcredist -->
      <MergeRef Id="ID_Merge_VCRedist"/>
    </Feature>

    <Icon Id="hurban_selector.ico" SourceFile="icons/64x64.ico" />
    <!-- Add the Icon to the Add/Remove Programs -->
    <Property Id="ARPPRODUCTICON" Value="hurban_selector.ico" />

    <!-- Display a minimal UI with just the license agreement -->
    <!-- https://www.firegiant.com/wix/tutorial/user-interface/ui-wizardry/-->
    <UIRef Id="WixUI_Minimal" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <!-- Display our EULA -->
    <WixVariable Id="WixUILicenseRtf" Value="eula.rtf" />

  </Product>
</Wix>
